$dorado:  #ffcb4a;
$azulito: #48d1cc;
$moradoclaro: #575559;
@mixin relleno($derecho){
	padding-right: $derecho;
}
.cardcolor {
	background-color: $dorado; 
	 color: #f2f2f2;
}
.btn {
	background-color: $azulito;
}
.btn1 {
	background-color: #666666;
}
 footer {
	padding: 10px 10px 0 10px;
	background-color: $moradoclaro;
   
}
 h3 {
 	
 	  text-align: center;
 	 
 }
address {
color: white;
.footer-address-icon {
	@include relleno (15px);
    
}
}
.star {
	
  	color: yellow;
	}
	.img-hor {

        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

p {
	text-align:justify;
}