@dorado: #a89132;
@azulito: #48d1cc;
@moradoclaro: #dcccff;
.relleno(@derecho: 0px){
	padding-right: @derecho;
}
.cardcolor {
	background-color: @dorado; 
	 color: #f2f2f2;
}
.btn {
	background-color: @azulito;
}
.btn1 {
	background-color: #666666;
}
 footer {
	padding: 10px 10px 0 10px;
	background-color: @moradoclaro;
   
}
 h3 {
 	
 	  text-align: center;
 	 
 }

.footer-address-icon {
	.relleno(10px);

}

.star {
	
  	color: yellow;
	}
	.img-hor {

        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

p {
	text-align:justify;
}