.cardcolor {
  background-color: #a89132;
  color: #f2f2f2;
}
.btn {
  background-color: #48d1cc;
}
.btn1 {
  background-color: #666666;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #dcccff;
}
h3 {
  text-align: center;
}
.footer-address-icon {
  padding-right: 10px;
}
.star {
  color: yellow;
}
.img-hor {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
p {
  text-align: justify;
}
